<%- include("partials/header.ejs") %>
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="p-5 py-3" style="background-color: #f0e6ff; border-radius: 16px; border-left: 5px solid #7f27cd;">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Hi, I'm a First Year CS Student 👋</h1>
                <p class="col-md-8 fs-4">I'm currently in my first year of my tech journey, learning full stack web
                    development. I build projects to practice what I learn and improve my skills
                    every day.</p> <button class="btn btn-info" type="button"><a
                        style="text-decoration: none; color:white;" href="https://github.com/nithinsai-dev">View My
                        Github</a></button>
            </div>
        </div>
    </div>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2>About this project</h2>
                <p>This blog app is a practice project built to learn and understand how Node.js, Express.js and EJS
                    work
                    together. It supports full CRUD — create, read, update and delete blog posts.</p> <button
                    class="btn btn-light" type="button"><a style="text-decoration: none; color:black;"
                        href="https://github.com/nithinsai-dev/blog-app">Source
                        code</a></button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <h2>Tech Stacks</h2>
                <div class="d-flex gap-4 flex-wrap mt-3">
                    <div class="text-center">
                        <i class="devicon-html5-plain colored" style="font-size: 3rem;"></i>
                        <p>HTML</p>
                    </div>
                    <div class="text-center">
                        <i class="devicon-css3-plain colored" style="font-size: 3rem;"></i>
                        <p>CSS</p>
                    </div>
                    <div class="text-center">
                        <i class="devicon-nodejs-plain colored" style="font-size: 3rem;"></i>
                        <p>Node.js</p>
                    </div>
                    <div class="text-center">
                        <i class="devicon-express-original colored" style="font-size: 3rem;"></i>
                        <p>Express</p>
                    </div>
                    <div class="text-center">
                        <i class="devicon-bootstrap-plain colored" style="font-size: 3rem;"></i>
                        <p>Bootstrap</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>