<%- include("partials/header.ejs") %>
    <h1>
        <em>
            <%= post.title %>
        </em>
    </h1>
    <hr />
    <p>
        <%= post.content %>
    </p>


    <%- include("partials/footer.ejs") %>